.inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.todo-modal {
  position: fixed;
  margin: 0 auto;
  top: 30vh;
  left: 25%;
  width: 50%;
  height: 40%;
  z-index: 100;
  overflow: hidden;
  background-color: white;
}
.header {
  background: #aa721e;
  padding: 1rem;
}
.header h1 {
  margin: 0;
  color: white;
  text-align: center;
}

.todo-modal__desc {
  text-align: center;
  margin-top: 1rem;
  padding: 3rem;
}
.actions {
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
}

.actions .button {
  font: inherit;
  border: 1px solid #aa721e;
  background: #aa721e;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #74511d;
  border-color: #74511d;
}

.button:focus {
  outline: none;
}
